body{margin:0
}
.main{
    font-family:"Tw Cen MT";
    width:100%;
    height:970px;
    background-image:url(group1.png);
    background-repeat: no-repeat;
    position:relative;
    top:0;
    padding-left:10px;
    max-height: 100%;
    overflow: scroll;
}
#logo{
    position:absolute;
    color: rgb(143, 19, 29);
    font-family:Viner Hand ITC;
    font-size:40px;
    margin-left:10px;
    margin-top:5px;
    font-style: italic;
}
.container{
    display:block;
    position:relative;
    cursor:pointer;
    padding-left:35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input{
    position:absolute;
    opacity:0;
    cursor:pointer;
    height:0;
    width:0
}
.checkmark{
    position:absolute;
    top:0;
    left:0;
    height:20px;
    width:20px;
    background-color:white;
    border-radius:50%;
}
.container:hover input ~ .checkmark{
    background-color:gray
}
.container input:checked ~ .checkmark{
    background-color:black;
}
.checkmark:after {
    content:"";
    position:absolute;
    display:none;
}
.container input:checked ~ .checkmark:after{
    display:block;
}
.container .checkmark.after{
    top:9px;
    left:9px;
    width:8px;
    height:8px;
    border-radius:50%;
    background:white;
}

main{
    color:black;
    position:absolute;
    text-align:;
    margin-left:auto;
    margin-right:auto;
    width:40%;
    padding-top:px;
    font-size:20px
}
#hometxt{
    text-align:center;
}
#roles{
    text-align:left;
}
.redText{
    color:red;
    text-align: left;
    }
.Question{
    text-align: left;
    margin-top:20px;
    
    font-size:20px;
}
.QuestionAnswer{
    padding-top:10px;
    text-align:left;
    font-size:15px;
    
}
input{
    width:90%;
    margin-top:5px;
    margin-right:0px;
    border:0;
}
input[type=text]{
    padding:10px;
    margin-top:10px;
    background-color:black;
    color:red;
}
input[type=radio]{
    width:auto;
    margin-top:20px;
    margin-right:px;
}
button{
    width:100px;
    height:40px;
    border-radius:10px;
    margin-top:30px;
    margin-bottom:40px;
    background-color:grey;
    color:white
}

.Submit{
}